<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCo0wy_tfvpo1i4FHmlR6iTqSG_jdkXqw</string>
	<key>GCM_SENDER_ID</key>
	<string>946554830008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatGptProject</string>
	<key>PROJECT_ID</key>
	<string>chatgptproject-d7480</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgptproject-d7480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946554830008:ios:1a3213ca641eb99ddc884d</string>
</dict>
</plist>